# HaasOnline API Configuration
API_HOST=127.0.0.1
API_PORT=8090
API_EMAIL=your_email@example.com
API_PASSWORD=your_password

# Remote Server Log Viewing (Debugging)
# Enabled only if ENABLE_REMOTE_LOGGING is true
HTS_SUDO_PASSWORD=your_sudo_password
HTS_SUDO_USER=miguel
ENABLE_REMOTE_LOGGING=false
