
/venv
.env
.DS_Store
cursor.rules
/pyHaasAPI.egg-info
/pyHaasAPI/__pycache__
# /reference files
/reference files
docs/cursor_rules_documentation.md
/dist
/.venv
/reference_files
env.example
/.venv311
*.pyc
/interactive_lab_management/frontend/node_modules
/tools/haasscript_mcp_local_server/node_modules
