# Haas API Connection Settings
HAAS_API_HOST=127.0.0.1
HAAS_API_PORT=8090

# Haas API Authentication
HAAS_API_EMAIL=your_email@example.com
HAAS_API_PASSWORD=your_password
# Optional: If your API requires a secret or license key, add here
# HAAS_API_LICENSEKEY=6db28bdc-acea-4928-94c3-4a00de7cca08
# HAAS_API_LOCALAPI_SECRET=123456 